html{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("Assets/bg.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0;
}

.up-bar{
    height: 40px;
    border:#D72638 solid 1px;
}